<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery page</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
<h1>GALLAREY SECTION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at deserunt dolores, ducimus esse excepturi mollitia nihil perspiciatis placeat possimus quaerat quisquam quo, quod, rem similique temporibus ut voluptas. Sunt.</span><span>Culpa, dolores doloribus ex hic laboriosam laborum laudantium magnam magni maiores maxime necessitatibus nemo neque nihil numquam obcaecati placeat quam reprehenderit saepe, sapiente, soluta sunt temporibus vel velit voluptas voluptatem!</span></p>
<div style="flex: 40px">
    <img src="{% static 'assets/img/d6.jpg' %}" alt="">
<img src="{% static 'assets/img/d4.jpg' %}" alt="">
<img src="{% static 'assets/img/d5.jpg' %}" alt="">
<img src="{% static 'assets/img/d3.jpg' %}" alt="">

</div>

</body>
</html>