<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/img/icon45.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">


</head>
<body>
<h1 class="text-warning text-center">Personal Information</h1>
<p class="container"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi, commodi dignissimos, esse eum ex hic iste laborum libero magni nobis, numquam pariatur quia quos recusandae repudiandae temporibus veniam.</span><span>Ab asperiores at consectetur consequatur corporis dolor, dolorum esse eveniet, impedit in iste itaque laudantium, minima nulla obcaecati odio omnis quae quidem recusandae repellendus temporibus unde voluptatem? Cum, sunt, tenetur.</span></p>

<table class="table table-striped table-dark table-hover">
    <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
    </tr>
    <tr>

        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>

    </tr>

        <tr>

        <td>2</td>
        <td>John</td>
        <td>Amol</td>
        <td>@john</td>

    </tr>
        <tr>

        <td>3</td>
        <td>Alex</td>
        <td>Jayden</td>
        <td>@jay</td>

    </tr>

        <tr>

        <td>4</td>
        <td>Larry</td>
        <td>Bidden</td>
        <td>@Larry</td>

    </tr>




</table>


</body>
</html>